html{
    font-family: 'Inter', sans-serif;
    font-size:62.5%;
    line-height: 1.6rem;
}
*{
    box-sizing: border-box;
}
body ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}
body ::-webkit-scrollbar-track {
    border-radius: 4px;
}
body ::-webkit-scrollbar {
    width: 6px;
}
